npm-debug.log
/Design and implement Azure PaaS compute and web and mobile services/AzureWebApiApp/AzureWebApiApp/bin
/Design and implement Azure PaaS compute and web and mobile services/AzureWebApiApp/AzureWebApiApp/obj/Debug
/Design and implement Azure PaaS compute and web and mobile services/AzureWebApiApp/packages
/Design and implement Azure PaaS compute and web and mobile services/Azure532ApiApp/Azure532ApiApp/bin
/Design and implement Azure PaaS compute and web and mobile services/Azure532ApiApp/Azure532ApiApp/obj
/Design and implement Azure PaaS compute and web and mobile services/Azure532ApiApp/packages
