npm-debug.log
/Design and implement Azure PaaS compute and web and mobile services/AzureWebApiApp/AzureWebApiApp/bin
/Design and implement Azure PaaS compute and web and mobile services/AzureWebApiApp/AzureWebApiApp/obj/Debug
/Design and implement Azure PaaS compute and web and mobile services/AzureWebApiApp/packages
